.inner{
    fill: transparent;
    stroke: #7791ab;
    stroke-width: 2px;
}

.outter{
    fill: transparent;
    stroke: #7791ab;
    stroke-width: 1px;
}
.title{
    fill: white;
    font-family: "Microsoft Yahei";
    font-size:17px;
}
.arc{
    fill: rgba(11,111,1,0.2)
}