@import '../sass/main.scss';
.page {
    width: 2860px;
    height: 100%;
    flex: 1;
    // border: 1px solid burlywood;
    #waveChart{
        width: 1250px;
        height: 250px;
        border: 1px solid blue;
    }
    #rose{
    width:310px;
    height: 310px;
    background-color: #042251;
}
}
