@import '../sass/main.scss';
.page {
    width: 2860px;
    height: 100%;
    flex: 1;
    // border: 1px solid burlywood;
    #waveChart{
        width: 1250px;
        height: 250px;
        border: 1px solid blue;
    }
    #rose{
        width:400px;
        height: 310px;
        background-color: #042251;
    }
    #roseR{
        width:490px;
        height: 260px;
        background-color: #042251;
        overflow: hidden;
    }
    h3 {
        color: #fff;
        font-size: 25px;
        font-family: "Microsoft YaHei";
        font-weight: normal;
        padding: 0px;
        margin: 12px 15px;
        text-align: left;
    }
}
