@import '../sass/main.scss';
.menu{
    position: absolute;
    top:56px;
    right: 56px;
    a{
        color:#000000;
        text-decoration: none;
    }
    .img{
        width: 380px;
        height: 84px;
        overflow: hidden;
        a{
            position: absolute;
            display: block;
            width: 85px;
            height: 85px;
            left: 0px;
            top:0px;
        }
        a:nth-child(2){
            left: 148px;
        }
        a:nth-child(3){
            left: 296px;
        }
    }
    .nav{
        overflow: hidden;
        ul{
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        li{
            float: left;
            width: 85px;
            text-align: center;
            padding: 10px 0px 0px 0px;
            margin-left: 64px;
            @include mFont(16px);
        }
        li:nth-child(1){
            margin-left: 0px;
        }
        
    }
}
